.container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    grid-gap: 1rem;
}

body {
    background-color: #3b404e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}